.header-main {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  background-image: linear-gradient(20deg, black, royalblue);
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.brand-wrap {
  text-decoration: none !important;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}

.widget-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.search-form {
  border: 1px solid #ffffff !important;
}

.search-button {
  background-color: black;
  border-color: #ffffff;
  width: 70px;
}

.navbar-main {
  background-color: #fff;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggler {
  padding: 4px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.37rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.45rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: black;
  border: 0;
}

.navbar-toggler-icon {
  background-image: url(https://img.icons8.com/ios/50/000000/menu.png);
}

.fas {
  color: #fff;
}

.login {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  color: white;
}

#meddlogo {
  width: 120px;
  height: 100px;
}

.medtitle {
  font-size: 2.5rem;
}
.cartLog:hover {
  background-color: rgb(9, 9, 10);
  color: black;
  border-radius: 10px;
}

.sec {
  padding: 0;
}

.dropp {
  font-size: larger;
  color: white;
  padding-top: 4px;
  padding-right: 20px;
  border: none;
}

.indrop:hover {
  background-color: black;
}

.headANDlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btt {
  border: none;
  outline: none;
  padding: 0%;
  background: none;
}
.blink_me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: white;
  font-weight: 700;
}
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me:hover {
  color: red;
}

.slogan {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#slo {
  color: white;
}

.box {
  border-bottom: 5px solid rgb(3, 3, 3);
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
