
  
  .body1{
    background-image: url("../images/bg5.jpg");
	  background-size: cover;
    background-attachment: fixed;
    background-position: center center;

  }
  .home{
    background-image: url("../images/bg5.jpg");
	  background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }